.flex-item{
    background: salmon;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.flex-container{
    display: flex;
    justify-content:space-around;
    flex-direction: row-reverse;
}